apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: helloworld
  template:
    metadata:
      labels:
        app: helloworld
    spec:
      tolerations:
      - key: "gaudi"
        operator: "Equal"
        value: "worker24"
        effect: "NoSchedule"
      containers:
      - image: busybox:1.35
        name: busybox
        command:
        - echo
        - "Hello World"
        - &&
        - sleep
        - infinity
